p {
    font-family: 'Lexend Deca', 'Times New Roman';
    font-size: 48px;
    opacity:50%;
}

 h1 {
    font-family: "Lexend Deca";
    font-size: 64px;
    opacity: 100%;

      background-image: url(images/ImageFolder/SymphDolph.png);
}