/*Establishing font*/
    #basicID, h1, h2, h3, h4, ul, p {
        font-family: "Lexend Deca";
    }

/*Typical and Legit Styling*/

    p {
        font-size: 16px;
        opacity:50%;
    }

    h1 {
        font-size: 32px;
        opacity: 100%;

        /**/
    }

    h1, p {
        text-align: center;
    }

    #basicID {
        text-indent: 40px;
        line-height: 40px;
        font-size: 32px;
        font-weight: 125x;
        
        padding-left: 12.5%;
        padding-right: 5%;
        padding-top: 36px;
        padding-bottom: 18px;
    }

    /* Top 10 FACTS */
    .tenFacts {
        display:block;
        padding-left: 2.5%;
        padding-right: 5%;
        padding-top: 54px;
        padding-bottom: 54px;
        margin-right: 5%;


        background-color: aquamarine;

        font-weight: 100;
    }

    /*Who, what, where*/
    .species {
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 54px;
        padding-bottom: 54px;


        line-height: 36px;

        color: white;

        font-weight: 100;
    }

    h3::first-line, h4::first-line {
        font-size: 32px;
        font-weight: 500;
    }

    .species {
        background-image: url(images/ImageFolder/Dolphins.png);
        background-size:cover;
    }

    .habitat {
        background-image: url(images/ImageFolder/rivers\ and\ oceans.png);
        background-size: contain;
    }

    .fwater {
        background-image: url(images/ImageFolder/famous-rivers.png);
        background-size: cover;
    }

/*Grid setup*/
    #grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "x x";
    column-gap: 5%;
    column-width: 50%;
    }

/*Link Graphics*/
    a:hover {
        text-decoration: none;
        color:aquamarine; 
    }

    a::after {
        color: darkviolet;
    }


